---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-color: #0081b8;
  background-image: linear-gradient(120deg, #0081b8, #b8e045);
  padding: 15px;
}

.main-content h1,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #0f9250;
}

.main-content h2 {
  color: white;
  background: linear-gradient(to right, #0081b8, #b8e045);
  padding: 5px 10px;
  margin-top: 50px;
}

.main-content h3 {
  color: black;
  background: linear-gradient(to right, #b5ddee, #e8f3c7);
  padding: 5px 10px;
  margin-top: 30px;
}

.project-tagline {
  font-family: monospace;
}

.download {
  padding: 10px;
}

.download__icon {
  font-size: 70px;
  margin: 10px;
}

.download__link,
.download__link:visited {
  text-decoration: none;
  color: white;
}

.download__link:hover {
  text-decoration: none;
  color: greenyellow;
}

.download__header {
  font-weight: normal;
  font-size: 16px;
  margin: 20px;
}

.divider {
  display: none;
}
