---
---

@import "{{ site.theme }}";

body {
  margin: 0;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #0081b8;
  background-image: linear-gradient(120deg, #0081b8, #b8e045);
  padding: 15px;
}

.main-content h1,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #0f9250;
}

.main-content h2 {
  color: white;
  background: linear-gradient(to right, #0081b8, #b8e045);
  padding: 5px 10px;
  margin-top: 50px;
}

.main-content h3 {
  color: black;
  background: linear-gradient(to right, #b5ddee, #e8f3c7);
  padding: 5px 10px;
  margin-top: 30px;
}

.project-tagline {
  font-family: monospace;
}

.download {
  display: inline-block;
  padding: 10px;
  opacity: 0.8;
  width: 200px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.download:hover {
  opacity: 1;
}

.download i {
  font-size: 50px;
  margin: 10px;
}

.download__link,
.download__link:visited {
  text-decoration: none;
  color: white;
  outline: none;
}

.download__link:hover {
  text-decoration: none;
  color: white;
}

.divider {
  display: none;
}

.version {
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  opacity: 0.8;
}

.actions {
  text-align: center;
  padding: 10px 10px 30px 10px;
}

.site-footer {
  text-align: center;
}
