<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <!-- Primary Meta Tags -->
    <title>Gramma - command-line grammar checker</title>
    <meta name="title" content="Gramma - command-line grammar checker">
    <meta name="description" content="Advanced, multilingual grammar checks interactively in your terminal!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://caderek.github.io/gramma/">
    <meta property="og:title" content="Gramma - command-line grammar checker">
    <meta property="og:description" content="Advanced, multilingual grammar checks interactively in your terminal!">
    <meta property="og:image" content="https://caderek.github.io/gramma/assets/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://caderek.github.io/gramma/">
    <meta property="twitter:title" content="Gramma - command-line grammar checker">
    <meta property="twitter:description" content="Advanced, multilingual grammar checks interactively in your terminal!">
    <meta property="twitter:image" content="https://caderek.github.io/gramma/assets/banner.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
  </head>
  <body>
    <div class="version">v1.4.7</div>
    <header class="page-header" role="banner">
      <a href="https://github.com/caderek/gramma" class="download__link">
      <div class="download">
        <i class="devicon-github-original"></i>
        <p>View on GitHub</p>
      </div>
      </a>
      <a href="https://www.npmjs.com/package/gramma" class="download__link">
      <div class="download">
        <i class="devicon-npm-original-wordmark"></i>
        <p>View on NPM</p>
      </div>
      </a>
      <a href="https://github.com/caderek/gramma/releases/download/v1.4.7/gramma-linux64-v1.4.7.zip" class="download__link">
      <div class="download">
        <i class="devicon-linux-plain"></i>
        <p>Download for Linux</p>
      </div>
      </a>
      <a href="https://github.com/caderek/gramma/releases/download/v1.4.7/gramma-windows64-v1.4.7.zip" class="download__link">
      <div class="download">
        <i class="devicon-windows8-original"></i>
        <p>Download for Windows</p>
      </div>
      </a>
      <a href="https://github.com/caderek/gramma/releases/download/v1.4.7/gramma-macos-v1.4.7.zip" class="download__link">
      <div class="download">
        <i class="devicon-apple-original"></i>
        <p>Download for MacOS</p>
      </div>
      </a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>